<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:	ObjectManager/etc/config.xsd">
    <type name="\Magento\Catalog\Pricing\Render\FinalPriceBox">
        <plugin name="Magenest_ShopByBrand_Change_Template" type="Magenest\ShopByBrand\Plugin\ConfiguredPricePlugin"/>
    </type>

</config>